body{
    background-image: url('money-891747.jpg');
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-repeat: space;
    background-color: #111;
    background-size: cover;
    font-family: Arial;
}
label{
  font-size: 14px;
}
.login-form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 15px;
    width: 300px;
    margin: 10% auto;
    font-family: Tahoma, Geneva, sans-serif;
}

.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 40px;
    padding: 0;
}
.login-form h2 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 0 0 10px 0;
}

.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #EEF0F2;
    border-radius: 2px;
    margin-bottom: 15px;
    box-sizing:border-box;
    background-color: #F7F8F9;
}

.login-form input[type="password"]{
  margin-bottom: 0;
}

.login-form input[type="password"]:focus,
.login-form input[type="text"]:focus {
  border: 1px solid #EEF0F2;
  border-radius: 2px;
  background-color: #F7F8F9;
}

.login-form button {
    width: 270px;
    padding: 15px;
    background-color: #710375;
    border: 0;
    margin: 15px auto 0 auto;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}